# ОС та редактори
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Node / інструменти (про запас)
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.package-lock.json
.pnpm-debug.log
dist/
build/
.cache/
.sass-cache/

# ESlint/Stylelint/Prettier тимчасові
.eslintcache
.stylelintcache

# Секрети
.env
.env.*