<a class="card-article" href="{{ item.url }}" itemscope itemtype="https://schema.org/Article">
  {% if item.image %}
    <div class="card-img">
      <img src="{{ item.image }}" alt="{{ item.title }}" itemprop="image">
    </div>
  {% endif %}
  <div class="card-body">
    <h3 class="card-title" itemprop="headline">{{ item.title }}</h3>
    <p class="card-text" itemprop="description">{{ item.excerpt or item.text | truncate(140) }}</p>
    <div class="card-meta">
      {% if item.author %}
        <span class="meta-author" itemprop="author">{{ item.author }}</span>
      {% endif %}
       {% if item.timestamp or item.date %}
         <time class="meta-date" itemprop="datePublished" datetime="{{ item.timestamp or item.date }}">{{ (item.timestamp or item.date) | format_date_num }}</time>
       {% endif %}
    </div>
  </div>
</a>
