{% if page == 'about' %}
<section class="about rich ">
<div class="container card-static">
  <h2>{{ heading }}</h2>

  <p>{{ p1 }}</p>

  <div class="gallery cols-2">
    <figure>
      {% set _img = images.history1 %}
      {% if (_img | substr(0,4)) != 'http' %}
        {% if (_img | substr(0,1)) == '/' %}
          {% set _img = base + _img %}
        {% else %}
          {% set _img = base + '/' + _img %}
        {% endif %}
      {% endif %}
      <img src="{{ _img }}" alt="{{ cap1 }}">
      <figcaption>{{ cap1 }}</figcaption>
    </figure>
    <figure>
      {% set _img = images.history2 %}
      {% if (_img | substr(0,4)) != 'http' %}
        {% if (_img | substr(0,1)) == '/' %}
          {% set _img = base + _img %}
        {% else %}
          {% set _img = base + '/' + _img %}
        {% endif %}
      {% endif %}
      <img src="{{ _img }}" alt="{{ cap2 }}">
      <figcaption>{{ cap2 }}</figcaption>
    </figure>
  </div>

  <p>{{ p2 }}</p>

  <div class="gallery cols-1">
    <figure>
      {% set _img = images.history3 %}
      {% if (_img | substr(0,4)) != 'http' %}
        {% if (_img | substr(0,1)) == '/' %}
          {% set _img = base + _img %}
        {% else %}
          {% set _img = base + '/' + _img %}
        {% endif %}
      {% endif %}
      <img src="{{ _img }}" alt="{{ cap3 }}">
      <figcaption>{{ cap3 }}</figcaption>
    </figure>
  </div>

  <p>{{ p3 }}</p>

  <div class="gallery cols-2">
    <figure>
      {% set _img = images.history4 %}
      {% if (_img | substr(0,4)) != 'http' %}
        {% if (_img | substr(0,1)) == '/' %}
          {% set _img = base + _img %}
        {% else %}
          {% set _img = base + '/' + _img %}
        {% endif %}
      {% endif %}
      <img src="{{ _img }}" alt="{{ cap4 }}">
      <figcaption>{{ cap4 }}</figcaption>
    </figure>
  </div>

  <p>{{ p4 }}</p>
</div>
</section>

<section class="about-priests container">
  <h2>{{ priests_title }}</h2>
  <div class="grid cols-2">
    {% for pr in priests %}
    <article class="list-card priest-card" itemscope itemtype="https://schema.org/Person">
      {% set _img = images[pr.img] %}
      {% if (_img | substr(0,4)) != 'http' %}
        {% if (_img | substr(0,1)) == '/' %}
          {% set _img = base + _img %}
        {% else %}
          {% set _img = base + '/' + _img %}
        {% endif %}
      {% endif %}
      <img class="thumb" src="{{ _img }}" alt="{{ pr.name }}" itemprop="image">
      <div class="body">
        <h3 class="title" itemprop="name">{{ pr.name }}</h3>
        <p class="text" itemprop="description">{{ pr.desc }}</p>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endif %}
