{% if page == 'community' %}
<section class="section-list">
  <div class="container">
    <div class="grid cols-3">
      {% for item in sections.community %}
        {% include "partials/card-article.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}


